#home {
    position: relative;
    background: url('../../assets/fruitbowl.png');
    background-size: cover;
    background-position: center;
    
    .app__wrapper{
        padding:0;
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction:row;

    padding: 10rem 2rem 0;

    @media screen and (min-width:2000px) {
        padding-top:10rem;
    }

    @media screen and (max-width:1200px) {
        flex-direction: column;
    }

    @media screen and (max-width:450px) {
        padding: 6rem 1rem 2rem;
    }
}

.app__header-info {
    flex:0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 2000px){
        width:100%;
        margin-right: 0rem;
    }
}

.app__header-badge {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .badge-cmp, .tag-cmp {
        padding: 1rem 2rem;
        border: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }

    .tag-cmp{
        flex-direction: column;
        margin-top: 3rem;

        p {
            width:100%;
            text-align: left;
        }
    }

    @media screen and  (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.app__header-img {
    flex:1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;


    img {
        width:70%;
        object-fit: contain;
        padding-top: 1rem;
    }
}
