#home {
    position: relative;
    background: url('../../assets/newbackground.png');
    background-size: cover;
    background-position: center;
    
    .app__wrapper{
        padding:0;
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction:row;
    align-items: center;

    padding: 10rem 2rem 0;

    @media screen and (min-width:2000px) {
        padding-top:10rem;
    }

    @media screen and (max-width:1200px) {
        flex-direction: column;
    }

    @media screen and (max-width:450px) {
        padding: 6rem 1rem 2rem;
    }
}

.app__header-info {
    flex:0.95;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-bottom: 1em;

    @media screen and (max-width: 2000px){
        width:100%;
        margin-right: 0rem;
    }
}

.app__header-badge {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .badge-cmp, .tag-cmp {
        padding: 1rem 2rem;
        border: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        justify-content: center;
        width: auto;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);

        .inner-badge {
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        p { 
            font-size: larger;
            width:100%;
            text-align: left;
            padding:5px;
            margin:15px;
        }
        
        a {
            text-decoration: none;
        }

    }

    button {
        size: 3em;
        border-radius: 1em;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
    }

    .tag-cmp{
        flex-direction: column;
        margin-top: 3rem;

        p {
            width:100%;
            text-align: left;
        }

        button {
            border-radius: 1em;
            padding: 1em;
            width: 500px;
            text-decoration: none;
        }
        a {
            text-decoration: none;
        }
    }

    @media screen and  (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

button {
    size: 3rem;
    border-radius: 2em;
    padding: 20px;
    margin: 20px; 
    cursor: pointer;
}

