.app__about {
    flex:1;
    width:100%;
    flex-direction: row;
    // background: url('../../assets/greenbackground.png');
    background-size: cover;
    background-repeat: repeat;
    background: cover;

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }

}


.app__abouts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 4rem;
    background: rgba(255, 255, 255, 0.8);
    h2 {
        padding: 1rem;
    }

    p {
        padding: 1rem;
    }
    button {
        padding: 1rem, 2rem;
        margin: 2rem;
        display: flex;
        justify-content: flex-end;
        flex-direction:row;
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.app__abouts-inner {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    img {
        height: 600px
    }
    p {
        margin: 2rem;
        display: flex;
        justify-content: center;
    }
    button {
        padding: 1rem, 2rem;
        margin: 2rem;
        display: flex;
        justify-content: flex-end;
        flex-direction:row;
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

}

.app__background {
    background: url(../../assets/greenbackground.png);
}

.app__wrapper {
    padding: 0;
}

.app__header-img {
    flex:1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

