@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --font-base: "Darker Grotesque ", Darker Grotesque;

  --primary-color: #edf2f8;
  --secondary-color: #e5a96d;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #4b5462;
  --brown-color: #a49c60;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}